{% extends 'base.html' %}
{% block content %}
    <span class="title">
        <h1>{% block title %}Обо мне{% endblock  %}</h1>
    </span>
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col">
                <div class="bg-image card shadow-1-strong"
                     style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                    <div class="card-body text-white">
                        <h2>Я - Ленивец, являюсь студенткой направления информационной безопасности (ИБ22)</h2>
                        <h3>Не люблю работать, но люблю болтать на парах</h3>
                        <img src="https://palchevsky.ru/images/lenivets.jpeg" alt="Ленивец" width="100%" height="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}